
.section--company {
    min-height: 300px;
    background-color: rgba(144, 164, 174, 0.7);
    margin-top: var(--height__header);
}

.section--company .content{
    display: inline-block;
}

.section--company .content h2 {
    font-weight: 800;
    color: #000;
    font-size: 24px;
    padding: 32px 0 8px 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section--company .content p {
    width: 400px;
    margin-left: 84px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.section--company .img-company {
    float: right;
    width: 240px;
    height: 240px;
    margin: 28px 48px;
    border-radius: 20px;
}

.section--user {
    position: relative;
    /* min-height: 224px; */
}

#main .section--user .content-everyday {
    font-size: 28px;
    font-weight: 600;
    padding-left: 260px;
    padding-top: 68px;
}

.section--user .content-birthDay {
    display: flex;
    align-items: center;
    height: 224px;
    justify-content: space-around;
    flex-direction: row;
}

.section--user .content-birthDay p {
    width: 440px;
    padding: 32px;
    border: 1px solid #000;
    border-radius: 16px;
    font-weight: 600;
}