
body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../assets/img/backgroung-1.jpg) no-repeat top left / auto;
}

.error {
    color: red;
    font-style: italic;
    font-size: 12px;
    margin-right: 120px;    
}

.login{
    float: right;
    margin-top: 120px ;
    width: 35%;
}

h2{
    font-size: 44px;
}

input[type="text"], [type="password"]{
    display: block;
    width:  260px;
    height: 32px;
    border-radius: 8px;
    padding-left: 12px;
    border: 1px solid black;
}

input[type="checkbox"] {
    margin-top: 8px;
}

label{
    font-size: 12px;
    font-weight: 700;
    color: #000;
    /* margin: 0 0 40px 176px; */
}

button{
    display: inline-block;
    width: 128px;
    height: 40px;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #546e7a;
    border-radius: 16px;
    margin-left: 72px;
}

button:hover {
    opacity: 0.8;
}
