.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    display: none;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
}

.modal-closeBtn:hover i {
    color: rgb(193, 9, 9);
    cursor: pointer;
}

.modal-saveBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Start: Message modal */
.message-container {
    width: 300px;
    height: 120px;
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.message-container .heading-messsage {
    height: 36px;
}

.message-container .modal-closeBtn {
    font-size: 20px;
    float: right;
    padding: 12px 16px;
    cursor: pointer;
}

.message-container .body-message {
    text-align: center;
    font-size: 16px;
    padding: 4px;
}

.message-container .footer-message {
    align-self: center;
}

.message-container .footer-message button {
    margin: 20px 8px 0 8px;
    padding: 4px;
    font-weight: 600;
    border-radius: 8px;
    width: 80px;
}

.message-container .footer-message button:hover {
    opacity: 0.8;
}

.message-container .footer-message .cancel-btn {
    color: rgb(193, 9, 9);
    border: 2px solid rgb(193, 9, 9);
}
/* End: Message modal */



.open {
    display: flex;
}



