
#main #profile-container {
    margin-top: var(--height__header);
    display: flex;
    justify-content: space-around;
}

#main #profile-container img {
    border: 2px solid #546E7A;
    border-radius: 30px;
    margin: 40px 76px;
}

#main #profile-container .personal-content {
    background: #ECEFF1;
    border: 2px solid #546E7A;
    border-radius: 20px;
    padding: 20px 16px;
    width: 300px;
}

#profile-container .personal-content ul {
    list-style-type: none;
}

#profile-container li {
    line-height: 28px;
    font-weight: 600;
}

#profile-container .personal-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#profile-container .personal-description ul {
    margin-left: 32px;
}


#profile-container .description-content {
    background: #ECEFF1;
    border: 2px solid #546E7A;
    border-radius: 20px;
    padding: 20px 16px;
    margin-top: 32px;
}

/* Start: edit button */
.btn-edit {
    width: 48px;
    height: 48px;
    background: #B0BEC5;
    border-radius: 100px;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 28px;
}

.btn-edit:hover {
    opacity: 0.8;
}
/* End: edit button */

/* Start: profile modal */
.modal-container {
    background: #fff;
}

.modal-container.modal-profile {
    width: 800px;
    min-height: 300px;
}

.modal-closeBtn {
    float: right;
    padding: 12px 16px;
    font-size: 32px;
    cursor: pointer;
}

.modal-heading {
    display: inline-block;
}

.modal-profile .modal-body {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
}

.modal-profile .modal-body .modal--body__left {
    flex: 2;
    margin-left: 48px;
    padding: 4px;
}

.modal-profile .modal-body .modal--body__right {
    flex: 2;
}

.modal-profile .modal-body .modal-label {
    display: block;
    padding: 4px 0px;
}

.modal-container.modal-profile input[type="text"],
.modal-container.modal-profile input[type="date"] {
    border: none;
    border-bottom: 1px solid black;
    outline: none; /* loại bỏ đường viền xung quanh ô input khi được focus */
    font-size: 14px;
    width: 240px;
}

.modal-profile input[type="radio"] {
    margin: 12px;
}

.modal-profile .modal--body__right .modal-textbox {
    border: 2px solid #546E7A;
    background: #ECEFF1;
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
}

.modal-profile .modal-footer {
    padding: 0px 16px;
    margin-left: 52px;
    position: relative;
    margin-bottom: 24px;
}

.modal-profile .modal-social-link {
    padding: 4px;
    margin-left: 16px;
    display:block;
}

.modal-profile .modal-saveBtn {
    position: absolute;
    right: 28px;
    bottom: 0;
    padding: 12px 16px;
    font-size: 24px;
    border-radius: 100px;
    background: #B0BEC5;
    border: none;
}

.modal-profile h4 {
    padding: 0px 0px 8px 0px;
}

/* profile user modal */
.user-profile-modal .modal-heading {
    padding: 12px 36px;
}

.user-profile-modal .modal-body {
    padding: 16px 16px 0px 16px;
}

.user-profile-modal .modal-container input[type="text"],
.user-profile-modal .modal-container input[type="date"] {
    margin-bottom: 20px;
}



.user-profile-modal .modal--body__right .modal-textbox {
    width: 340px;
    min-height: 160px;
}
/* End: profile modal */